.sidenav_container {
  padding: 1rem;
  margin-top: 1rem;
  background: #ffffff;
  min-height: 100vh;
}

.sidenav_container nav ul {
  display: grid;
  grid-gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.sidenav_container nav ul li {
  gap: 0.5rem;
  padding: 0.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.sidenav_container nav ul li.active,
.sidenav_container nav ul li:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 15, 45, 0.05) 0%,
    rgba(12, 70, 211, 0) 99.99%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 8px;
}

.sidenav_container nav ul li .icon {
  display: inline-grid;
  place-items: center;
  min-width: 34px;
  height: 34px;
  border: 1px solid #ecedf1;
  background: #ecedf1;
  border-radius: 50%;
}

.sidenav_container .log-out {
  color: #e92c2c;
  margin-top: 3rem;
  display: flex;
  gap: 0.5rem;
}

.sidenav_container .log-out p {
  font-weight: 500;
}
