.mat-elevation-z8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mat-table {
  width: 100%;
}

.mat-paginator-outer-container {
  display: center;
}

.mat-paginator {
  width: 100%;
  align-items: center;
}
