<div class="container-dash">
  <app-dashboard-header
    (hamClick)="toggleMenu()"
    [isMenuOpen]="isMenuOpen"
  ></app-dashboard-header>
  <div class="container-dash_body">
    <!-- Side Nav -->
    <aside class="sidenav-area" [class.show-menu]="hamClick">
      <div class="sidenav">
        <app-dashboard-sidenav
          (hamClick)="toggleMenu()"
        ></app-dashboard-sidenav>
      </div>
    </aside>

    <!-- Main -->
    <main [class.show-menu]="hamClick">
      <div class="main-body">
        <div style="display: flex; align-items: center; gap: 10px;">
          <mat-form-field appearance="fill">
            <mat-label>Highways</mat-label>
            <mat-select [(ngModel)]="selectedHighway" (selectionChange)="onHighwaySelect($event.value)">
              <mat-option *ngFor="let highway of listOfHighways" [value]="highway">
                {{highway}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <button mat-raised-button  routerLink="/view-map/map">View Map</button> -->
          <button *ngIf="!isMapView" mat-raised-button routerLink="/view-map/map">View Map</button>
          <button *ngIf="isMapView" mat-raised-button (click)="goBack()">Back</button>
          </div>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>  