<header class="header">
    <div class="header_container dis-flex">
      <div class="header_left dis-flex">
        <span class="header_left_menu clickable" (click)="toggleMenu()">
          <i class="icon" [class]="!isMenuOpen ? 'bx bx-menu' : 'bx bx-x'"></i>
        </span>
        <p>Hahn Tech</p>
      </div>
      <div class="header_right dis-flex">
        <div class="header_right_profile clickable dis-flex" routerLink="/admin/settings">
          <div class="header_right_profile_name">
            <p>Hi, User</p>
            <!-- <small class="role">Admin</small> -->
          </div>
          <span class="header_right_profile_avatar">
            <i class='bx bx-user icon'></i>
          </span>
        </div>
      </div>
    </div>
  </header>